@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  font-family: "Jost", sans-serif;
  scroll-behavior: smooth;

}



/* .card-class {
  @apply grid grid-cols-1 grid-cols-2 gap-8 md: lg:grid-cols-3;
} */

/* .rounded-btn {
  @apply flex items-center justify-center h-10 font-semibold text-blue-600 border-2 border-blue-500 rounded w-28;
} */

/* .btn {
  @apply px-6 py-3 font-semibold text-white transition duration-300 ease-in-out bg-blue-600 bg-blue-800 rounded-lg hover:;
} */

/* .text-flex {
  @apply flex items-center gap-2;
}

.pop-btn {
  @apply flex justify-center px-4 py-2 text-white transition-transform transform bg-blue-700 rounded-md shadow-lg outline-none focus: ring-4 active:scale-x-50;
} */