@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  font-family: "Jost", sans-serif;
  scroll-behavior: smooth;
  text-transform: capitalize;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #e61010;
  border-radius: 5rem;
}






